/* book.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #666;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
.form input[type="tel"],
.form input[type="date"],
.form input[type="time"],
.form input[type="chechbox"],
.form input[type="number"],
.form select {
    width: 90%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease-in-out;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form input[type="number"]:focus,
form select:focus {
    outline: none;
    border-color: #007bff;
}

form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="#999" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}
