  .blog-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .blog-page h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color:goldenrod; 
  }
  
  .blog-post {
    margin-bottom: 40px;
  }
  
  .blog-post h2 {
    font-size: 24px;
    font-weight: bold;
    color:greenyellow; 
    margin-bottom: 10px;
  }
  
  .blog-post p {
    font-size: 16px;
    line-height: 1.6;
    color: bisque; 
  }
  
