   .home-page-content {
    padding: 50px 20px;
    text-align: center;
    margin-top: 80px;
    position: fixed;
    margin-left:-400px;
  }
  
  .home-page-content h1 {
    font-size: 44px;
    margin-bottom: 30px;
    color:goldenrod; 
  }
  .home-page-content h2 {
    font-size: 33px;
    margin-bottom: 30px;
    color:antiquewhite; 
  }
  .home-page-content h3 {
    font-size: 30px;
    margin-bottom: 30px;
    color:white; 
  }
  
  .home-page-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    color:silver; 
  }
  
  .cta-buttons {
    display: flex;
    justify-content: center;
  }
  
  .cta-button {
    padding: 15px 30px;
    margin: 0 10px;
    font-size: 18px;
    color: #fff;
    background-color: #529be9; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: goldenrod; 
  }
  